*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  /* background-color: black; */
}

/* login.js css */
#login-box{
  /* border:2px solid red; */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#login-box::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  /* background:url("./login-bg.jpg")no-repeat center center/cover; */
  background: url("https://images.unsplash.com/photo-1519492735906-95cbce8c4baa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80")no-repeat center center/cover;
  z-index: -1;
  width: 100%;
  height:100%;
  opacity: 0.8;  
}
#login-side-card{
  height: 22em;
    width: 14em;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(249 211 173 / 51%);
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
#login-side-card h2{
  font-size: 28px;
    padding: 7px 0px;
}
#login-side-card p{
  font-size: 14px;
    font-style: oblique;
    font-weight: 500;
}
#login-card{
  width: 22em;
    height: 22em;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
#login-card h2{
  margin: 18px;
  font-size: 32px;
}
#loginInfo{
  font-size: 13px;
    color: #b01818;
    font-weight: bold;
    padding: 5px 0px;
}
#register-login{
  margin-top: 4em;
    color: #363232;
    font-size: 14px;
}
#login-card p span{
  color: #660303;
    font-weight: bold;
    font-size: 14px;
    /* margin: 0px 4px; */
    padding: 0px 5px;
    text-decoration: underline;
  }
#login-card p span:hover{
    cursor: pointer;
    color: #742222;
}
.login-input{
  border-radius: 5px;
    /* color: black; */
    border: none;
    border-bottom: 2px solid black;
    padding: 3px 8px;
    font-size: 12px;
    margin: 6px 0px;
    background-color: rgb(247 236 236 / 39%);
}

.login-register_btn{
  width: 13em;
    padding: 5px 0px;
    border-radius: 5px;
    margin: 9px 0px;
    background-color: black;
    color: white;
    border: none;
}

.login-register_btn:hover{
  cursor: pointer;
    background-color: #232121;
    /* border: 1px solid black; */
}

/* cards.js css */
.cardContainer{
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin:0px auto;
  max-width: 17em;
  border: 1px solid #3f3b3b;
  margin-bottom: 11px;
}

.card img{
  width: 100%;
  height: 20em;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.description{
  font-size: 13px;
}
.title{
  font-weight: bold;
  font-size: 18px;
}

.container{
  padding: 2px 16px;
}

#readMore{
  color: #614105;
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
}
#readMore:hover{
  cursor: pointer;
  color: #a67b2d;
}

#avatar{
  display: none;
}

#add_avatar{
  text-decoration: underline;
    font-size: 14px;
    color: #272525;
    font-weight: 600;
}

#add_avatar:hover{
  cursor: pointer;
  color: #7a4444;
}

.btn{
    padding: 3px 8px;
    width: 78px;
    border-radius: 5px;
    margin: 8px 4px;
    font-weight: 600;
}

.btn:hover{
  cursor:pointer;
}

.editButton{
  background: none;
    border: 2px solid #7a7af0;
    color: blue;
}

.editButton:hover{
  background-color: #ededf1;
}

.deleteButton{
  background-color: rgb(246 5 5);
    color: white;
    border: none;
    padding: 5px 0px;
}
.deleteButton:hover{
  /* border: 2px solid rgb(243, 93, 93); */
  background-color: #e81717;
}

.addMemoryButton{
  width: 13em;
    background-color: #fdf5f5;
    border: 2px solid red;
    padding: 4px 0px;
}

.addMemoryButton:hover{
  background: #f8efef;
}

.inputTitle{
  border: 2px solid #beb7b7;
    border-radius: 3px;
    padding: 2px 4px;
    margin: 4px 0px;
    font-size: 12px;
    width: 14em;
}

.inputTitle:hover,.inputDescription:hover{
  box-shadow: 0 4px 8px 0 rgb(167 164 164 / 20%);
}

.inputDescription{
  border: 2px solid #beb7b7;
    border-radius: 3px;
    padding: 2px 4px;
    margin: 4px 0px;
    font-size: 12px;
    width: 14em;
    height: 8em;
}

#specialCard{
  position: absolute;
    /* top: -900px; */
    left: 10%;
    width: 80%;
    box-shadow: 0 44px 186px 0 rgb(181 180 180);
    background-color: rgb(231 225 225 / 93%);
    border-radius: 7px;
    padding: 10px 5px;
    /* animation-name: 'cardDown';
  animation-iteration-count:1;
  animation-duration: 3s; */
    /* transition-property: all 13s ease-out 0.1s; */
}

#specialCard h4{
  font-size: 34px;
    font-weight: bold;
    line-height: 2em;
}
#specialCard p{
  font-size: 15px;
    line-height: 22px;
}
#specialCard button{
  background: #f6eee0;
    border: 2px solid #f4ae29;
    /* cursor: pointer; */
    color: #413f47;
}
#specialCard button:hover{
  background: #ede5d7;
}
/* navigation bar */

#navbar{
  border-bottom: 1px solid #e1dcdc;
  /* border: 2px solid black; */
  display: flex;
  padding: 9px 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 69px 0 rgb(221 187 187 / 21%);
  /* background-color: rgb(223, 221, 221); */
}

#logoContainer{
  display: flex;
  margin:0 10px;
}

.logo{
  width: 3em;
  height: 3em;
  border-radius: 10px;
}

#logoContainer h3{
  padding: 5px 8px;
  font-weight: bold;
  font-size: 25px;
}

.icon{
  width: 28px;
    height: 28px;
  cursor: pointer;
  margin:0 10px;
}